<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <% if @user.firstname %>
        <%= @user.firstname %>, добрый день.
      <% else %>
        Добрый день.
      <% end %>
    </p>
    <p>
      Нас заинтересовало Ваше резюме. Мы хотели бы пригласить Вас на собеседование.<br>
      Ознакомиться с вакансией можно здесь: https://hh.ru/vacancy/19485655.<br>
      Запись на собеседование по телефону: +7 (999) 002-29-29 (звонить в будние дни с 9:00 до 21:00).
    </p>
  </body>
</html>